<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncs.GmemberMapper">


<insert id="insert" >
insert into gmember values(
#{id},#{password},#{sex},#{email},
#{phone},#{birthday},#{rid},#{genre1},
#{genre2},#{grade},#{autopay},#{uploadfile}
)
</insert>

</mapper>  